* {
    padding: 0px;
    margin: 0px;
}

.group1 .text button:hover {
    background: blue;
    color: white;
}

.group5 .img {
    position: absolute;
}
@font-face{
    src: url(fonts/cookie/Cookie-Regular.ttf);
    font-family: 'Cookie Regular';
}
@font-face{
    src: url(fonts/raleway/Raleway-Regular.ttf);
    font-family: 'Raleway';

}
@font-face{
    src: url(fonts/raleway/Raleway-Bold.ttf);
    font-family: 'Raleway Bold';
}
body{
    font-family: 'Raleway';
    margin: 0px auto;
    /* line-height: 66pt; */
}

.rong{
    width: 1349px;
    margin: auto;
}
.group2 .text-left h3 {
    font-size: 30px;
    padding-bottom: 30px;
}

.group1 {
    font-family: 'Raleway';
    background-image: url(images/header.png);
    height: 1000px;
}

.group1 .nav {
    padding-top: 63px;
    padding-left: 200px;
    padding-right: 200px;
}

.group1 .nav li {
    display: inline-block;
}

.group1 .nav .right {
    float: right;
}

.group1 ul li a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 30px;
    color: #fff;
    font-weight: bold;
}
.group1 ul li a:hover{
    color: red;
}
.group1 .text {
    background: #e6e3e396;
    text-align: center;
    margin-top: 152px;
    width: 758px;
    height: 472px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}

.group1 .text p {
    font-family: 'Cookie Regular';
    font-size: 80px;
    color: #2c3a42;
}

.group1 .text h3{
    font-size: 80px;
    color:#ad6c12;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}
.group1 .text button{
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 50px;
    border: none;
    background: #fff;
    color: #26363a;
}
.group2 {
 
    height: 490px;
    background: #2a3b40;
    display: flex;
}

 .group2 .text-left {
    flex-basis: 50%;
    margin: 162px 57px;
    color: #fff;
    line-height: 20pt;
}

.group2 .img-right {
    flex-basis: 50%;
    margin-top: 70px;
}

.group3 {
    display: flex;
    /* height: 375px; */
    padding-bottom: 30px;
    background: #d4d8d9;
    justify-content: space-around;
    color: #2a3b40;
}
.group3 .col{
    flex-basis: 20%;
    padding-top: 71px;
    line-height: 20pt;
}
.group3 .col .icon, .group3 .col h3{
    padding-bottom: 30px;
    font-size: 25px;
}
.group4 {
    height: 1206px;
    background-image: url(images/img9.png);
}
.group4 .grid-container {
    display: grid;
    width: 1080px;
    /* height: 1029px; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    grid-template-columns: 540px 540px;
    grid-template-rows: 170px 274px 274px 274px;
}

.group4 .grid-container .grid-item1 {
    background: #e6dcdcbf;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid white!important;
    text-align: center;
}
.group4 .grid-container .grid-item{
    background: #e6dcdcbf;

}
.group4 .grid-item1 h3{
    font-family: 'Cookie Regular';
    font-size: 70px;
}
.group4 .grid-item1 p{
    text-transform: uppercase;
    font-size: 50px;
    color:  #ad6c12;
}
.food{
    display: flex;
}
.food .pic{
    flex-basis: 50%;
}
.food .info-food{
    flex-basis: 50%;
    padding-top: 50px;
    text-align: center;
    color: #304751;
    line-height: 15pt;
}
.food .info-food h4 {
    text-transform: uppercase;
}
.food .info-food p {
    width: 187px;
    margin: 30px auto;
}

.group5{background: #d4d8d9;height: 345px;padding-bottom: 30px;position: relative;}
.group5 .img img{
    position: absolute;
    height: 375px;
    width: 1349px;
}
.group5 .img img:nth-child(even){
    height: 375px;
}
.group5 .text{
    text-align: center;
    padding-top: 60px;
    color:#2a3b40;
    line-height: 20pt;
    padding-left: 300px;
    position: absolute;
}
.group5 .text h3{
    font-size: 26px;
}
.group5 .text p{
    width: 762px;
    margin: 50px auto;
}
.group5 .text .icon{
    font-size: 25px;
}
.group5 .text ul li{
    display: inline-block;
}
.group5 .text .nav{
    margin-top: 30px;
}
.group5 .text .nav li{
    margin-left: 50px;
}
.group5 .text ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.group5 .text ul li a:hover{
    color:red;
}
.group6{
    background: url(images/img10.png) no-repeat;
    height: 841px;
    position: relative;
}
.group6 .text{
    background: #fff9fcbf;
    width: 1000px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.group6 .text .title{
    text-align: center;
    padding: 30px;
}
.group6 .text .title p{
    font-family: 'Cookie Regular';
    font-size: 70px;
}
.group6 .text .title h3{
    text-transform: uppercase;
    font-size: 50px;
    color: #ad6c12;
}
.group6 .col{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 0px auto;
}

.group6 .col .one-col{
    display: flex;
    width: 400px;
    margin-bottom: 48px;
    color: #304751;
}
.group6 .col .one-col .icon{
    padding: 20px;
    border-radius: 50%;
    background: #fff;
    width: 100px;
    height: 50px;
}
.group6 .col .one-col .icon img{
    width: 41px;
    height: 41px;
}
.group6 .col .one-col .info-food2{
    margin-left: 10px;
    line-height: 15pt;
}
.group6 .col .one-col .info-food2 h4{
    text-transform: uppercase;
    margin-bottom: 10px;

}
.group7{
    height: 1271px;
    background: #2a3b40;
}

.group7 .book-food{
    color: white;
}
.group7 .book-food .title{
    text-align: center;
    font-family: 'Cookie Regular';
    font-size: 70px;
    padding-top: 20px;
}
.group7 .input{
    display: flex;
    justify-content: space-around
}
.group7 .input .col select, .group7 .input .col input{
    width: 200px;
    /* height: 30px; */
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
    padding-left: 10px;
    padding: 8px;
}
.group7 .input .col p{
    margin-bottom: 5px;
}
.group8 img{
    background-image: url(images/img12.png) no-repeat;
    
    
}
.group9{
     background: #d4d8d9;
     /* height: 819px; */
     padding-bottom: 50px;
}
.group9 .title{
    text-align: center;
    padding: 30px;
}
.group9 .title p{
    font-family: 'Cookie Regular';
    font-size: 70px;
}
.group9 .title h3{
    text-transform: uppercase;
    font-size: 50px;
    color: #ad6c12;
}
.group9 .col{
    display: flex;
    justify-content: center;
    margin-top: 30px
}
.group9 .col .col-1{
    margin-left: 30px;
}
.group9 .col .col-1 img{
    width: 339px;
    height: 301px;
}
.group9 .col .col-1 .text-bottom{
    margin-top: -3px;
    background: #fff;
    padding: 20px 20px 40px 20px;
    color: #555555;
    line-height: 15pt;
}
.group9 .col .col-1 .text-bottom p{
    width: 215px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group9 .col .col-1 .text-bottom .time{
    padding-top: 15px;
    font-weight: bold;
}
.group9 .col .col-1 .text-bottom .name{
    font-weight: bold;
    margin: 15px 0px;
}
.text-bottom .read-more{
    margin-top: 25px;
    padding-bottom: 1px;
    text-transform: uppercase;
    border-bottom: 6px solid #ff992b;
    /* width: 100px; */
    display: inline-block;
}
.group10{
    background: #2a3b40;
    text-align: center;
    /* height: 341px; */
    color: white;
    padding-bottom: 30px;
    line-height: 20pt;
}
.group10 .text{
    padding: 0px 200px;
    font-size: 17px;
}
.group10 .quotes i{
    padding: 30px;
}
.group10 .author{
    font-weight: bold;
    font-size: 35px;
    padding: 30px;
}
.group10 .media-icon ul li{
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin-left: 10px;
    width: 44px;
    height: 35px;
    padding-top: 10px;
}
.group10 .media-icon ul li i{
    font-size: 25px;
    color: #2a3b40;
}

.group11 {
   background: #d4d8d9;
   /* height: 275px; */
   display: flex;
   padding-top: 50px;
   color: #2d2f2a;
   padding-bottom: 30px;
}
.group11 .col1{
    flex-basis: 40%;
    padding-left: 120px;
}
.group11 .col1 h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px
}
.group11 .col1 p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    line-height: 20pt;
}
.group11 .col1{
    margin-right: 100px;
}
.group11 .col{
    margin-right: 100px;
}
.group11 .col h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px
}
.group11 .col li{
    list-style: none;
    margin-bottom: 20px;
}
.group11 .col li a{
    text-decoration: none;
    color: #2d2f2a;
}
.group11 .col li a:hover{
    color:red;
}
.group11 .bold li{
    font-weight: bold;
}0